.friend_list {
  width: 420px;
  height: 440px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
}

.item {
  display: flex;
  align-items: center;
  margin: 14px;
  padding-left: 30px;
  border: 2px;
}

.statusOnline,
.statusOffline {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: green;
  margin: 0 30px;
}

.statusOffline {
  background-color: red;
}

.avatar {
  border-radius: 22px;
  margin: 10px;
}

.name {
  font-size: 24px;
  font-weight: 600;
}
