.transaction_history {
  color: black;
  width: 420px;
  border-collapse: collapse;
  box-shadow: 0 0 10px lightgray;
  text-align: center;
  margin: 20px auto;
}

th {
  border: 2px solid gray;
  background-color: dodgerblue;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0;
}

td {
  border: 2px solid gray;

  font-weight: 200px;
  font-size: 12px;
  padding: 5px 0;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}
